{% extends 'home.html' %}

{% block body %}
    <div class="card">
            <h2>Product category Form</h2>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" name="name" placeholder="Enter name">
                </div>
                <div class="form-group">
                    <label>unit_price</label>
                    <input type="text" name="unit_price" placeholder="Enter name">
                </div>
                <div class="form-group">
                    <label>qty</label>
                    <input type="text" name="qty" placeholder="Enter name">
                </div>
                <div class="form-group">
                    <label>stock</label>
                    <select name="stock">
                        <option value="--select--">--select--</option>
                        <option value="Available">Available</option>
                        <option value="Out_of_stock">Out_of_stock</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>category</label>
                    <select name="category">
                        <option value="--select--">--select--</option>
                        
                        {% for i in data %}
                            <option value="{{i.id}}">{{i.name}}</option>
                        {% endfor %}
                            
                        
                        
                    </select>
                </div>


                <button class="btn btn-primary">Submit</button>
                
            </form>
        </div>
{% endblock body %}